.position-value {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 15px;
  position: relative;
  top: 15px;
  margin: auto;
  background-color: #29394b;
  color: white;
  font-weight: bold;
}

.need-image {
  border: 1px solid #29394b;
}
