@font-face {
  font-family: NexaBold;
  src: url(./fonts/Nexa-Bold.otf) format("opentype"),
    url(./fonts/Nexa_Free_Bold-webfont.woff) format("woff");
}
@font-face {
  font-family: roboto-regular;
  src: url(./fonts/Roboto-Regular.ttf) format("truetype");
}

html,
body {
  background-color: #f6f5f3;
}

.content-wrapper {
  clear: both;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 60px;
}

.App {
  text-align: center;
  color: #333;
}

.App a {
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: NexaBold;
  text-transform: uppercase;
}

p {
  font-family: Roboto;
}

/* Override bootstrap navbar styles */
.navbar {
  background-image: none;
  background-color: #f6f5f3;
  border: none;
}

.intro-header {
  margin-bottom: 25px;
}

.setup-section {
  margin-top: 100px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
